#foot1{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    color: black;
    text-align: center;
}

.navigation-button{
    margin-top: 40px;
    border-radius: 50%;
    width: 10%;



}

#asd{
    display: flex;
    flex-direction: column;

}